<div class="row">
  <div class="col-md-12">
    <h1>Exercise : <%= @exercise.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><%= @exercise.description %></p>
  </div>
  <div class="col-md-6">
    <%= form_for @user_exercise do |f| %>
      <% if @exercise.uses_scales %>
        <div class="form-group">
          <%= f.label :uses_scales %>
          <%= f.collection_select(:scale_id, Scale.all, :id, :name, { :prompt => 'Select a scale' },{ class: "form-control" }) %>
        </div>
        <fieldset>
          <h3>Your playing speed</h3>
          <p>It is recommended that you record the speed at which you start and end this exercises so we can track your progress.</p>
          <div class="form-group">
            <%= f.label :start_speed %>
            <div class="input-group">
              <%= f.number_field :start_speed, class: "form-control" %>
              <div class="input-group-addon">bpm</div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :end_speed %>
            <div class="input-group">
              <%= f.number_field :end_speed, class: "form-control" %>
              <div class="input-group-addon">bpm</div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <h3>Your sensations</h3>
          <div class="form-group">
            <%= f.label :tension_level %>
            <%= f.select :tension_level, options_for_select((0..10).step(1).to_a.map {|s| s}), {}, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :notes %>
            <%= f.text_area :notes, class: "form-control" %>
          </div>
        </fieldset>
        <%= f.submit "I'm done. Record that exercise !", class: "btn btn-success" %>
        <%= link_to "Cancel and go back to exercises list", @user_exercise.practice_session, class: "btn" %>
      <% end %>
    <% end %>

  </div>
</div>
